version: '2'
services:
  database:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=tuleva-onboarding
      - POSTGRES_PASSWORD=tuleva-onboarding
      - POSTGRES_DB=tuleva-onboarding
