lombok.addLombokGeneratedAnnotation = true
#lombok.data.flagUsage = warning
lombok.addNullAnnotations = jspecify

# Add spring constructor annotations to be copied from fields
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
