Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["tulevasecrets"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "BeanstalktEC2Role"
files:
  /home/webapp/truststore.jks:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: 'https://s3-eu-central-1.amazonaws.com/tulevasecrets/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SPRING_PROFILES_ACTIVE" }}`/truststore.jks'

  /home/webapp/jwt-keystore.p12:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: 'https://s3-eu-central-1.amazonaws.com/tulevasecrets/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SPRING_PROFILES_ACTIVE" }}`/jwt-keystore.p12'

   /home/webapp/swedbank-gateway.p12:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: 'https://s3-eu-central-1.amazonaws.com/tulevasecrets/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SPRING_PROFILES_ACTIVE" }}`/swedbank-gateway.p12'

  /home/webapp/partner-public-key1.pem:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: 'https://s3-eu-central-1.amazonaws.com/tulevasecrets/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SPRING_PROFILES_ACTIVE" }}`/partner-public-key1.pem'

  /home/webapp/partner-public-key2.pem:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: 'https://s3-eu-central-1.amazonaws.com/tulevasecrets/`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment", "OptionName": "SPRING_PROFILES_ACTIVE" }}`/partner-public-key2.pem'
