Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["tulevasecrets"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "BeanstalktEC2Role"
files:
  /home/webapp/keystore.p12:
    mode: "000444"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/keystore.p12
  /home/webapp/truststore.jks:
     mode: "000444"
     owner: webapp
     group: webapp
     authentication: "S3Auth"
     source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/truststore.jks
