Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["tulevasecrets"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "BeanstalktEC2Role"

files:
  /tmp/fullchain.pem:
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/ssl/fullchain.pem
  /tmp/privkey.pem:
     mode: "000444"
     owner: root
     group: root
     authentication: "S3Auth"
     source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/ssl/privkey.pem
  /tmp/id.crt:
     mode: "000444"
     owner: root
     group: root
     authentication: "S3Auth"
     source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/ssl/id.crt
  /tmp/dhparam.pem:
     mode: "000444"
     owner: root
     group: root
     authentication: "S3Auth"
     source: https://s3-eu-central-1.amazonaws.com/tulevasecrets/ssl/dhparam.pem