<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProfile name="dev">
    <logger name="ee.tuleva.onboarding" level="DEBUG"/>
  </springProfile>

  <springProfile name="production, staging">
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="INFO">
      <appender-ref ref="Sentry"/>
    </root>
  </springProfile>
</configuration>
