<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <!-- Configure the Sentry appender, overriding the logging threshold to the ERROR level -->
  <springProfile name="production, staging">
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
      </filter>
    </appender>

    <root level="INFO">
      <appender-ref ref="Sentry"/>
    </root>

  </springProfile>
</configuration>
