<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Fondipensioni avamise avaldus</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <div th:insert="sections/new_styles" th:remove="tag"></div>
</head>
<body>
  <h1>Fondipensioni avamise avaldus nr <span
      th:text="${documentNumber}"></span></h1>
  <div th:insert="sections/personal_details_section" th:remove="tag"></div>
  <div th:insert="sections/fund_pension_opening_details_sections" th:remove="tag"></div>
  <div class="disclaimer">
    Olen teadlik, et:<br>
    1) valides fondipensioni soovitusliku kestuse, arvestatakse minu fondipensioni kestus vastavalt kogumispensionide seaduse § 523 lõikes 3 nimetatule ja Eesti Statistikaameti poolt avaldatud meeste ja naiste keskmiselt elada jäänud aastate alusel. Vastavalt tulumaksuseaduse § 201 lõikele 38 3 ei maksustata tulumaksuga soovitusliku kestusega sõlmitud fondipensioni väljamakseid, mida tehakse perioodiliselt vähemalt üks kord kolme kuu jooksul.<br>
    2) valides fondipensioni määratud kestuse aastates, tehakse väljamakse minu avaldusel märgitud sagedusega kogumispensionide seaduses sätestatud tähtajal<br>
    • avalduse esitamisele järgneval kuul, kui avaldusele märgiti igakuise väljamakse soov;<br>
    • kvartali viimasel kuul, kui avaldusele märgiti kvartaalse väljamakse soov;<br>
    • pensioniaasta viimasel kuul, kui avaldusele märgiti aastase väljamakse soov;<br>
    3) väljamakselt peetakse kinni tulumaks vastavalt tulumaksuseadusele ja kogu tulumaksu arvestuse aluseks olev summa deklareeritakse Maksu- ja Tolliametis füüsilise isiku tuludeklaratsioonis minu tuluna. 4) käesoleva avalduse esitamisega peatub minu kohustusliku kogumispensioni maksete tasumise kohustus  automaatselt alates kogumispensionide seaduses sätestatud tähtajast, vastavalt kas 1. jaanuarist, 1. maist või 1. septembrist. Eraldi avaldust ei ole maksete peatamiseks vaja esitada. Makse tasumist ei saa hiljem taastada.<br>
    5) esitatud avaldust saab tühistada avalduse esitamisega samal kalendrikuul vastavalt kogumispensionide seadusele.<br>
    6) kui avalduse esitajal on pensioniregistris registreeritud kehtivaid aresti või pankroti nõudeid, ei ole võimalik väljamakse avaldust tühistada. Avalduse tühistamiseks peab olema nõue lõpetatud (täidetud või tühistatud).<br>
    7) fondipensioni väljamaksed on erineva suurusega, tulenevalt osakute arvu või puhasväärtuse muutustest.<br>
    <br>
    Olen teadlik, et AS Pensionikeskus kogub ja töötleb minu isikuandmeid kogumispensionide seaduses ja väärtpaberite registri pidamise seaduses sätestatud ulatuses Euroopa Liidu piires.  NB! AS Pensionikeskus isikuandmete töötlemise ja privaatsuspõhimõtted on kättesaadavad AS Pensionikeskus veebilehel.<br>
  </div>
  <div th:insert="sections/footer_section" th:remove="tag"></div>
</body>
</html>
