<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Täiendava fondipensioni avamise avaldus</title>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <div th:insert="sections/new_styles" th:remove="tag"></div>
</head>
<body>
  <h1>Täiendava fondipensioni avamise avaldus nr <span
      th:text="${documentNumber}"></span></h1>
  <div th:insert="sections/personal_details_section" th:remove="tag"></div>
  <div th:insert="sections/fund_pension_opening_details_sections" th:remove="tag"></div>
  <div class="disclaimer">
    Olen teadlik, et: <br>
    1) valides fondipensioni soovitusliku kestuse, arvestatakse minu fondipensioni kestus vastavalt kogumispensionide seaduse § 523 lõikes 3 nimetatule ja Eesti Statistikaameti poolt avaldatud meeste ja naiste keskmiselt elada jäänud aastate alusel. Vastavalt tulumaksuseaduse § 21 lõikele 4 77 ei maksustata tulumaksuga soovitusliku kestusega sõlmitud fondipensioni väljamakseid, mida tehakse perioodiliselt vähemalt üks kord kolme kuu jooksul.<br>
    2) valides fondipensioni määratud kestuse aastates, tehakse väljamakse minu avaldusel märgitud sagedusega kogumispensionide seaduses sätestatud tähtajal:<br>
    • avalduse esitamisele järgneval kuul, kui avaldusele märgiti igakuise väljamakse soov; <br>
    • kvartali viimasel kuul, kui avaldusele märgiti kvartaalse väljamakse soov;<br>
    • pensioniaasta viimasel kuul, kui avaldusele märgiti aastase väljamakse soov;<br>
    3) väljamakselt peetakse kinni tulumaks vastavalt tulumaksuseadusele ja kogu tulumaksu arvestuse aluseks olev summa deklareeritakse Maksu- ja Tolliametis füüsilise isiku tuludeklaratsioonis minu tuluna.<br>
    4) esitatud avaldust saab tühistada avalduse esitamisega samal kalendrikuul vastavalt kogumispensionide seadusele.<br>
    5) fondipensioni väljamaksed on erineva suurusega tulenevalt osakute arvu või puhasväärtuse muutustest.<br>
    Olen teadlik, et AS Pensionikeskus kogub ja töötleb minu isikuandmeid kogumispensionide seaduses ja väärtpaberite registri pidamise seaduses sätestatud ulatuses Euroopa Liidu piires.  NB! AS Pensionikeskus isikuandmete töötlemise ja privaatsuspõhimõtted on kättesaadavad AS Pensionikeskus veebilehel.<br>
  </div>
  <div th:insert="sections/footer_section" th:remove="tag"></div>
</body>
</html>
