<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <p th:text="#{membership.email.intro(${memberNumber})}"></p>
        <strong><span th:text="${firstName}"></span> <span th:text="${lastName}"></span></strong><br />
        <p th:text="#{membership.email.accepted(${memberDate})}"></p>
        <p th:text="#{membership.email.greeting}"></p>
        <p th:text="#{membership.email.signature1}"></p>
        <p th:text="#{membership.email.signature2}"></p>
        <p th:text="#{membership.email.invitation}"></p>        
        <a href="https://www.facebook.com/groups/tuleva.ee/"> meie liikmete Facebooki grupis</a>
    </body>
</html>
