<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <p th:text="#{mandate.email.greeting(${firstName})}"></p>
        <br>
        <p th:if="${pillarSuggestion.showShortMessage()}" th:text="#{mandate.email.secondPillarContentShort}"></p>
        <p th:unless="${pillarSuggestion.showShortMessage()}" th:text="#{mandate.email.secondPillarContentLong}"></p>
        <br>
        <p th:if="${pillarSuggestion.suggestMembershipIfOtherPillarInactive()}" th:utext="#{mandate.email.suggestMembership}"></p>
        <p th:if="${pillarSuggestion.suggestOtherPillar()}" th:utext="#{mandate.email.suggestThirdPillar}"></p>
        <p th:if="${pillarSuggestion.suggestMembershipIfOtherPillarFullyConverted()}" th:utext="#{mandate.email.suggestMembership}"></p>
        <br>
        <p th:text="#{mandate.email.mandate}"></p>
        <p th:text="#{mandate.email.info}"></p>
        <br>
        <p th:text="#{mandate.email.signature}"></p>
    </body>
</html>
