<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <p th:text="#{mandate.email.greeting(${firstName})}"></p>
        <br>
        <p th:text="#{mandate.email.secondPillarContent}"></p>
        <br>
        <p th:if="${thirdPillarSuggestion.suggestPillar()}" th:utext="#{mandate.email.suggestThirdPillar}"></p>
        <p th:if="${thirdPillarSuggestion.suggestMembership()}" th:utext="#{mandate.email.suggestMembership_2}"></p>
        <br>
        <p th:text="#{mandate.email.mandate}"></p>
        <p th:text="#{mandate.email.info}"></p>
        <br>
        <p th:text="#{mandate.email.signature}"></p>
    </body>
</html>
