<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <p th:text="#{mandate.email.greeting(${firstName})}"></p>
        <br>
        <p th:text="#{mandate.email.thirdPillarContent}"></p>
        <br>
        <p th:if="${secondPillarSuggestion.suggestPillar()}" th:utext="#{mandate.email.suggestSecondPillar}"></p>
        <p th:if="${secondPillarSuggestion.suggestMembership()}" th:utext="#{mandate.email.suggestMembership}"></p>
        <br>
        <p th:text="#{mandate.email.thirdPillarPaymentInfo}"></p>
        <p>
          <span th:text="#{mandate.payment.accountName}"></span>:
          <strong>Pensionikeskus AS</strong>
        </p>
        <p>
          <span th:text="#{mandate.payment.accountNumber}"></span>:
          <strong>EE362200221067235244</strong>
        </p>
        <p>
          <span th:text="#{mandate.payment.details}"></span>:
          <strong>30101119828</strong>
        </p>
        <p>
          <span th:text="#{mandate.payment.reference}"></span>:
          <strong th:text="${pensionAccountNumber}"></strong>
        </p>
        <br>
        <p th:text="#{mandate.email.mandate}"></p>
        <p th:text="#{mandate.email.info}"></p>
        <br>
        <p th:text="#{mandate.email.signature}"></p>
    </body>
</html>
