<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <p th:text="#{mandate.email.greeting(${firstName})}"></p>
    <p th:text="#{mandate.email.thirdPillar.content}"></p>

    <br/>
    <strong th:text="#{mandate.email.thirdPillar.automate.title}"></strong>
    <p th:text="#{mandate.email.thirdPillar.automate.content}"></p>

    <br/>
    <strong th:text="#{mandate.email.thirdPillar.calculate.title}"></strong>
    <p th:utext="#{mandate.email.thirdPillar.calculate.content}"></p>

    <br/>
    <strong th:text="#{mandate.email.thirdPillar.paymentDetails.title}"></strong>
    <p th:utext="#{mandate.email.thirdPillar.paymentDetails.content}"></p>
    <p>
      <span th:text="#{mandate.payment.accountName}"></span>:
      <strong>AS Pensionikeskus</strong>
    </p>
    <p>
      <span th:text="#{mandate.payment.accountNumber}"></span>:
      <br/>
      <strong>EE362200221067235244</strong> - Swedbank
      <br/>
      <strong>EE141010220263146225</strong> - SEB
      <br/>
      <strong>EE961700017004379157</strong> - Luminor
    </p>
    <p>
      <span th:text="#{mandate.payment.details}"></span>:
      <strong>30101119828</strong>
    </p>
    <p>
      <span th:text="#{mandate.payment.reference}"></span>:
      <strong th:text="${pensionAccountNumber}"></strong>
    </p>

    <p th:utext="#{mandate.email.thirdPillar.swedbankInfo}"></p>
    <p th:text="#{mandate.email.info}"></p>
    <br/>

    <br/>
    <p th:utext="#{mandate.email.thirdPillar.signature}"></p>
  </body>
</html>
