<style>
  body {
    padding: 96px 96px 48px;
  }
  h1 {
    font-family: serif;
    font-size: 32px;
    line-height: 40px;
  }

  .form-grouping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 48px 0;
    border-bottom: 1px solid #DCDCDC;
  }
  .form-grouping.no-separator {
    border-bottom: none;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex-basis: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 24px;

    .form-label {
      display: block;
      font-weight: 400;
      padding-bottom: 8px;
    }

    .form-value {
      display: block;
      font-weight: 700;
    }
  }
  .disclaimer {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    padding: 24px 0;
    font-family: sans-serif;
    border-bottom: 1px solid #DCDCDC;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    .address {
      color: #808080;
      font-size: 16px;
      line-height: 24px;
      font-family: sans-serif;
    }

    .logo {
      width: 100px;
    }
  }
</style>
