<h2>1. Avalduse esitaja</h2>
<div class="form-grouping">
  <div class="form-group">
    <div class="form-label">Isikukood</div>
    <div class="form-value" th:text="${idCode}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Alalise / peamise elukoha riik</div>
    <div class="form-value" th:text="${countryCode}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Eesnimi</div>
    <div class="form-value" th:text="${firstName}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Perekonnanimi</div>
    <div class="form-value" th:text="${lastName}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Kontakttelefon</div>
    <div class="form-value" th:text="${phoneNumber}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">E-posti aadress</div>
    <div class="form-value" th:text="${email}"></div>
  </div>
</div>
<h2>2. Isiku eelistused</h2>
<div class="form-grouping">
  <div class="form-group">
    <div class="form-label">Soovin pensioniregistri teatist pensionikonto jäägi kohta</div>
    <div class="form-value" th:text="${contactDetails.noticeNeeded.equalsIgnoreCase('Y') ? 'Jah' : 'Ei' }"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Keel</div>
    <div class="form-value" th:switch="${contactDetails.languagePreference.toString()}">
      <span th:case="'EST'">Eesti keel</span>
      <span th:case="'ENG'">Inglise keel</span>
      <span th:case="'RUS'">Vene keel</span>
    </div>
  </div>
</div>
