<h2>4. Pensionikonto omaniku pangakonto</h2>
<div class="form-grouping">
  <div class="form-group">
    <div class="form-label">Pangakonto number</div>
    <div class="form-value" th:text="${bankAccountDetails.accountIban()}"></div>
  </div>
  <div class="form-group">
    <div class="form-label">Pank</div>
    <div class="form-value" th:text="${bankAccountDetails.bank().getDisplayName()}"></div>
  </div>

  <div class="form-group">
    <div class="form-label">Swift/BIC</div>
    <div class="form-value"><br></div>
  </div>

  <div class="form-group">
    <div class="form-label">Välisriigi panga aadress</div>
    <div class="form-value"><br></div>
  </div>

  <div class="form-group">
    <div class="form-label">Täiendavad andmed välismaksete kohta</div>
    <div class="form-value"><br></div>
  </div>
</div>
